@import '../../styles/variables.scss';

.Explorer {
  width: 900px;
  height: 600px;
  color: $color-text;
  box-shadow: $box-shadow-32;
  overflow: hidden;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 32px 120px 1fr;
  grid-template-areas:
    'TopBar TopBar'
    'Header Header'
    'Sidebar Content';

  .TopBar {
    grid-area: TopBar;
  }

  .Header {
    grid-area: Header;
  }

  .Sidebar {
    grid-area: Sidebar;
  }

  .Content {
    grid-area: Content;
  }
}
