@import '../../styles/variables.scss';

.Explorer {
  position: absolute;
  width: 900px;
  height: 600px;
  color: $color-text;
  box-shadow: $box-shadow-8;
  overflow: hidden;
  z-index: 0;
  opacity: 1;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 30px 46px 1fr;
  grid-template-areas:
    'TitleBar TitleBar'
    'Header Header'
    'Sidebar Content';

  &.initializing {
    opacity: 0;
  }

  &:focus-within {
    box-shadow: $box-shadow-32;
    z-index: 1;
  }

  .TitleBar {
    grid-area: TitleBar;
  }

  .Header {
    grid-area: Header;
  }

  .Sidebar {
    grid-area: Sidebar;
  }

  .Content {
    grid-area: Content;
  }
}
