@import '../../styles/variables.scss';

.Content {
  background-color: white;
  border-bottom-right-radius: $border-radius;
  box-shadow: -4px 0 4px rgba(0, 0, 0, 0.05);
  z-index: 1;
  padding-top: 16px;
  user-select: none;

  .node {
    @extend .clickable-dark;
    cursor: default;
    padding: 7px 16px;
    font-size: 14px;
  }

  .folder {
  }

  .file {
    font-style: italic;
  }
}
