@import '../../styles/variables.scss';

.TitleBar {
  background: rgba(white, 0.8);
  backdrop-filter: blur(10px) saturate(125%);
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  overflow: hidden;
  display: flex;
  align-items: center;
  user-select: none;
  box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.05);

  .tabs {
    display: flex;
    height: 100%;
    overflow: hidden;

    .tabs-wrapper {
      display: flex;
      overflow: auto hidden;

      // hide scrollbar in firefox
      scrollbar-width: none;

      // hide scrollbar in chrome
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }

      &.with-shadow {
        box-shadow: $box-shadow-8;
      }
    }

    .add-tab {
      @extend .clickable-light;
      font-family: 'Segoe MDL2 Assets', serif;
      width: 30px;
      flex-shrink: 0;
    }
  }

  .drag-area {
    height: 100%;
    flex: 1 0 80px;
    touch-action: none;
  }

  .actions {
    font-family: 'Segoe MDL2 Assets', serif;
    height: 100%;
    display: flex;
    flex-shrink: 0;

    button {
      @extend .clickable-dark;
      width: 46px;
      font-size: 10px;
    }

    button.close {
      &:hover {
        color: white;
        background-color: $color-red;
      }

      &:focus-visible {
        color: white;
        background-color: $color-red;
      }

      &:-moz-focusring {
        color: white;
        background-color: $color-red;
      }

      &:active {
        background-color: $color-red-hover;
      }
    }

    .minimize::before {
      content: '\E921';
    }

    .maximize::before {
      content: '\E922';
    }

    .restore::before {
      content: '\E923';
    }

    .close::before {
      content: '\E8BB';
    }
  }
}
