@import '../../styles/variables.scss';

.Sidebar {
  background: rgba(white, 0.8);
  backdrop-filter: blur(10px) saturate(125%);
  border-bottom-left-radius: $border-radius;
  user-select: none;
  padding: 8px 0;
  font-size: 13px;

  .group {
    margin-bottom: 8px;
  }
}
