@import '../../styles/variables.scss';

.SidebarElement {
  display: flex;
  align-items: center;
  padding: 6px 16px;
  cursor: pointer;
  border: 1px solid transparent;
  outline: none;
  width: 100%;

  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }

  &:-moz-focusring {
    background-color: rgba(0, 0, 0, 0.03);
  }

  &:focus-visible {
    background-color: rgba(0, 0, 0, 0.03);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &.selected {
    background-color: rgba(0, 0, 0, 0.075);

    &:-moz-focusring {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:focus-visible {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &.selected .name {
    font-weight: 600;
  }

  .name.header {
    font-weight: 700;
  }

  .icon {
    font-family: 'Segoe MDL2 Assets', serif;
    font-size: 15px;
    margin-right: 12px;
  }
}
