@import '../../styles/variables.scss';

.SidebarElement {
  display: flex;
  align-items: center;
  padding: 6px 16px;
  cursor: pointer;
  border: 1px solid transparent;

  &:hover {
    background-color: rgba(0, 0, 0, 0.025);
  }

  &.selected,
  &:active {
    background-color: rgba(0, 0, 0, 0.075);
  }

  &.selected .name {
    font-weight: 600;
  }

  .name.header {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
  }

  .icon {
    font-family: 'Segoe MDL2 Assets', serif;
    font-size: 15px;
    margin-right: 12px;
  }
}
