@import '../../styles/variables.scss';

.SidebarElement {
  display: flex;
  align-items: center;
  padding: 4px 20px;
  cursor: pointer;
  border: 1px solid transparent;

  &:first-child {
    padding-left: 16px;
  }

  &:hover {
    background-color: $color-blue-light;
  }

  &.selected {
    background-color: $color-blue;

    &:hover {
      border-color: $color-blue-border;
    }
  }

  .icon {
    font-family: 'Segoe MDL2 Assets', serif;
    margin-right: 8px;
  }
}
