@import 'styles/variables.scss';

.App {
  background: url('bg0.jpg');
  background-size: cover;
  min-height: 100vh;
  color: white;
}

button {
  background: none;
  border: none;
  outline: none;
  padding: 0;

  &:focus {
    outline: none;
  }
}
